<!DOCTYPE html>
<html>
<%- include('partials/head', { styles: ['of-module'] }) %>

<body class="has-navbar-fixed-top">
  <%- include('partials/navbar') %>
  <section class="section of-hero">
    <div class="container">
      <div class="text-image-section">
        <div class="text">
          <h2 class="title is-size-2-desktop has-text-primary">OBS ERP</h2>
          <h1 class="large-title">ORDER FULFILLMENT</h1>
          <p class="subtitle is-size-4-desktop">
            Speed | Convenience | Rich functionality
          </p>
          <button class="button is-primary has-text-white has-text-weight-bold p-l-xl p-r-xl">GET OFFER</button>
        </div>
        <div class="image">
          <img src="./images/of-module/header.svg" alt="illustration">
        </div>
      </div>
    </div>
    <img class="shape" src="./images/of-module/header-shape.svg" alt="shape">
  </section>
  <section class="section of-benefits">
    <div class="container">
      <h2 class="title is-size-2-desktop has-text-centered p-b-lg">GRANTED BENEFITS</h2>
      <div class="columns is-multiline">
        <div class="column">
          <div class="benefit-card benefit-card-reversed">
            <div class="benefit-icon benefit-icon-1"></div>
            <div class="content">
              <h4 class="title is-4">Integrated email client</h4>
              <p>
                Eveniet atque, dolores tempora<br>
                Lorem, ipsum<br>
                Lorem ipsum dolor sit
              </p>
            </div>
          </div>
          <div class="benefit-card benefit-card-reversed">
            <div class="benefit-icon benefit-icon-2"></div>
            <div class="content">
              <h4 class="title is-4">Corporate chat</h4>
              <p>
                Eveniet atque, dolores tempora<br>
                Lorem, ipsum<br>
                Lorem ipsum dolor sit
              </p>
            </div>
          </div>
          <div class="benefit-card benefit-card-reversed">
            <div class="benefit-icon benefit-icon-3"></div>
            <div class="content">
              <h4 class="title is-4">Accessible from any device</h4>
              <p>
                Eveniet atque, dolores tempora<br>
                Lorem, ipsum<br>
                Lorem ipsum dolor sit
              </p>
            </div>
          </div>
        </div>
        <div class="column is-hidden-touch is-hidden-desktop-only">
          <img src="./images/of-module/granted-benefits.svg" alt="illustration">
        </div>
        <div class="column">
          <div class="benefit-card">
            <div class="benefit-icon benefit-icon-4"></div>
            <div class="content">
              <h4 class="title is-4">Multi-language</h4>
              <p>
                Eveniet atque, dolores tempora<br>
                Lorem, ipsum<br>
                Lorem ipsum dolor sit
              </p>
            </div>
          </div>
          <div class="benefit-card">
            <div class="benefit-icon benefit-icon-5"></div>
            <div class="content">
              <h4 class="title is-4">Two-factor authentication QR codes and/or SMS</h4>
              <p>
                Eveniet atque, dolores tempora<br>
                Lorem, ipsum<br>
                Lorem ipsum dolor sit
              </p>
            </div>
          </div>
          <div class="benefit-card">
            <div class="benefit-icon benefit-icon-6"></div>
            <div class="content">
              <h4 class="title is-4">Fully customizable without coding</h4>
              <p>
                Eveniet atque, dolores tempora<br>
                Lorem, ipsum<br>
                Lorem ipsum dolor sit
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section of-general-information">
    <div class="container">
      <div class="text-image-section">
        <div class="text">
          <h2 class="title is-size-2-desktop p-b-lg">GENERAL INFORMATION</h2>
          <div class="content">
            <ul class="circle-bullet">
              <li>Streamlines the core business operations for small and midsize companies </li>
              <li>End-to-end sales and purchase order process management</li>
              <li>Automates document generation:
                <ul class="arrow-bullet">
                  <li>Sales orders</li>
                  <li>Purchase orders</li>
                  <li>Invoices</li>
                  <li>Warehouse slips</li>
                  <li>Waybills</li>
                </ul>
              </li>
              <li>Supports multiple warehouses and legal entities</li>
              <li>Inventory item tracking with serial number and batch tracking feature</li>
              <li>Allows core process customization</li>
            </ul>
          </div>
        </div>
        <div class="image">
          <img src="./images/of-module/general-information.svg" alt="illustration">
        </div>
      </div>
    </div>
    <img class="shape" src="./images/of-module/general-information-shape.svg" alt="shape">
  </section>
  <section class="section of-service-description">
    <div class="container">
      <div class="text-image-section section-reversed">
        <div class="text">
          <h2 class="title is-size-2-desktop p-b-lg">SERVICE DESRIPTION</h2>
          <div class="content">
            <ul class="circle-bullet">
              <li>www.obs2go.com is a cloud-based ERP</li>
              <li>platform running on Amazon EC2 servers</li>
              <li>No need of IT support from the client</li>
              <li>High availability as per Amazon terms of service</li>
              <li>Backup -3 times per day in two separate locations</li>
              <li>Disaster recovery virtual machines running on</li>
              <li>clustered environment</li>
              <li>Automatic software updates</li>
              <li>Support using ticketing system</li>
              <li>Monthly billing on user/month basis</li>
            </ul>
          </div>
        </div>
        <div class="image">
          <img src="./images/of-module/service-description.svg" alt="illustration">
        </div>
      </div>
    </div>
    <img class="shape" src="./images/of-module/service-description-shape-a.svg" alt="shape">
  </section>
  <section class="section of-characteristics">
    <div class="container">
      <h2 class="title is-size-2-desktop has-text-centered p-b-lg">CHARACTERISTICS</h2>
      <div class="columns is-multiline is-desktop">
        <div class="column">
          <div class="characteristic-card">
            <img class="p-b-md" src="./images/of-module/characteristics-icon-01.svg" alt="obs-characteristic-icon">
            <div class="content">
              <h4 class="title is-4">Warehouse operations</h4>
              <ul>
                <li>Warehouse transfers</li>
                <li>Scrapping</li>
                <li>Check-in</li>
                <li>Check-out</li>
                <li>Labelling (optional)</li>
                <li>Manufacturing (optional)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="characteristic-card">
            <img class="p-b-md" src="./images/of-module/characteristics-icon-02.svg" alt="obs-characteristic-icon">
            <div class="content">
              <h4 class="title is-4">Inventory</h4>
              <ul>
                <li>Composite products</li>
                <li>Product ranges</li>
                <li>Services </li>
                <li>Materials</li>
                <li>Material groups</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="characteristic-card">
            <img class="p-b-md" src="./images/of-module/characteristics-icon-03.svg" alt="obs-characteristic-icon">
            <div class="content">
              <h4 class="title is-4">Reporting</h4>
              <ul>
                <li>Sales report per company and product</li>
                <li>Sales report per product and month</li>
                <li>Warehouse movement report</li>
                <li>Total quantites per product</li>
                <li>Custom reports </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section of-showcase">
    <div class="container">
      <div class="mocks p-b-lg">
        <div class="mock-left">
          <div class="device-mock">
            <div class="laptop">
              <div class="screen">
                <div class="content">
                  <div class="slider">
                    <img src="./images/of-module/slide-01-01.png" alt="obs-of-screen">
                    <img src="./images/of-module/slide-01-02.png" alt="obs-of-screen">
                    <img src="./images/of-module/slide-01-03.png" alt="obs-of-screen">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mock-right is-hidden-touch">
          <div class="device-mock">
            <div class="phone">
              <div class="screen">
                <div class="content">
                  <div class="slider">
                    <img src="./images/of-module/slide-02-01.png" alt="obs-of-screen">
                    <img src="./images/of-module/slide-02-02.png" alt="obs-of-screen">
                    <img src="./images/of-module/slide-02-02.png" alt="obs-of-screen">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-centered">
        <button class="button is-primary has-text-white has-text-weight-bold p-l-xl p-r-xl">GET OFFER</button>
      </div>
    </div>
  </section>
  <section class="section of-testimonials">
    <div class="container">
      <div class="carousel-wrapper">
        <div class="carousel">
          <div class="carousel-slides">
            <div class="carousel-slide">
              <div class="testimonial">
                <div class="avatar">
                  <img class="avatar-image" src="./images/of-module/avatar-01.jpg" alt="avatar">
                  <div class="quotation-mark">
                    <img src="./images/quotation-mark.svg" alt="quotation-mark">
                  </div>
                </div>
                <p class="testimonial-text has-text-centered">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Veniam laudantium est in praesentium iste aperiam natus, magni doloribus harum at!"</p>
                <p class="testimonial-author has-text-centered">Scott Albino</p>
              </div>
            </div>
            <div class="carousel-slide">
              <div class="testimonial">
                <div class="avatar">
                  <img class="avatar-image" src="./images/of-module/avatar-02.jpg" alt="avatar">
                  <div class="quotation-mark">
                    <img src="./images/quotation-mark.svg" alt="quotation-mark">
                  </div>
                </div>
                <p class="testimonial-text has-text-centered">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Veniam laudantium est in praesentium iste aperiam natus, magni doloribus harum at!"</p>
                <p class="testimonial-author has-text-centered">Amanda Baucom</p>
              </div>
            </div>
            <div class="carousel-slide">
              <div class="testimonial">
                <div class="avatar">
                  <img class="avatar-image" src="./images/of-module/avatar-03.jpg" alt="avatar">
                  <div class="quotation-mark">
                    <img src="./images/quotation-mark.svg" alt="quotation-mark">
                  </div>
                </div>
                <p class="testimonial-text has-text-centered">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Veniam laudantium est in praesentium iste aperiam natus, magni doloribus harum at!"</p>
                <p class="testimonial-author has-text-centered">Randy Willis</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-control carousel-control-left"></div>
        <div class="carousel-control carousel-control-right"></div>
      </div>
    </div>
  </section>
  <%- include('partials/footer') %>
  <%- include('partials/toggle-menu') %>
  <%- include('partials/carousel') %>
</body>

</html>
